.App {
  background-color: #ebebeb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.bg-rectangle {
  width: 400px;
  height: 700px;
  background: white;
  margin: 10px;
}

.Rectangle-content {
  display: flex;
  height: 92%;
}

.Color-select {
  height: 20px;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-left: 35px;
}

.Color-bar {
  height: 12px;
  width: 200px;
  /*background-color: black;*/
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Neighbour-Checkboxes {
  width: 180px;
}
.Color-Picker-Dialog {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 20px;
}
